.title-customers {
    text-transform: uppercase;
    color: #141414;
    letter-spacing: 0.015em;
    margin-bottom: 24px;
    line-height: 64px;
    font-size: 64px;
    font-weight: 600;
}

.title-2 {
    color: #576f35;
}

.reviews {

    padding: 100px 0;
}

.reviews>.container {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.review-header {
    width: 553px;
}

.review-text {

    text-transform: capitalize;
    color: #141414;
    letter-spacing: 0%;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;

}

.customers-name {
    font-weight: 600;
    color: #141414;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.customers-ul {
    display: flex;
    gap: 24px;
}



.customers-list {
    background-color: #fbfbfb;
    width: calc((100%-48px)/3) align-items: center;
    border: 1px solid #D4BFC4;
    border-radius: 24px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    gap: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0% color: #858585;
}
.customer-text {
    color: #858585;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}



/*mobıle*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .reviews {
        padding: 100px 32px;
    }

    .container {
        max-width: 768px;
    }

    .customers-ul {
        flex-wrap: wrap;
    }

    .customers-list {
        width: calc((100% - 24px)/2);
        gap: 24px;
    }

    .customers-list:nth-child(n+3) {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {

    .reviews {
        padding: 80px 20px;
    }

    .reviews>.container {
        max-width: 375px;
        gap: 40px;
    }

    .review-header {
        width: 335px;
    }

    .title-customers {
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 20px;
    }

    .review-text {
        font-size: 14px;
    }

    .customers-list {
        width: 100%;
        gap: 24px;
        pad: 16px;
    }

    .customers-list:nth-child(n+2) {
        display: none;
    }
}

@media (max-width: 374px) {
    .reviews {
        padding: 10px;
    }

    .reviews>.container {
        max-width: 100%;
    }

    .review-header {
        width: 100%;
    }

    .title-customers {
        font-size: 48px;
    }

    .customers-ul {
        flex-direction: column;
    }

    .review-list-item {
        width: 100%;
    }
}